.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebarFilter content";
}

.sidebarFilter {
  grid-area: sidebarFilter;
  background-color: var(--four-bg-color);
}

.content {
  grid-area: content;
}