.container {
  display: grid;
  justify-items: left;
  padding: 50px;
  gap: 50px;
  text-transform: uppercase;
}

.logo {
  padding-bottom: 25%;
}

.container a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  transition: 0.2s;
}

.container a:hover {
  color: var(--three-text-color);
}

.navContainer {
  display: grid;
  justify-items: left;
  gap: 30px;
}

.buttonContainer {
  display: grid;
  gap: 15px;
}

.cartContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 50px 0;
  gap: 2rem;
}

.cartLink {
  display: grid;
  grid-template-columns: max-content min-content;
  gap: 1rem;
  align-items: center;
}

.cartLink i {
  color: var(--two-text-color);
}

.socialContainer {
  width: 100%;
  display: grid;
  color: silver;
  justify-items: left;
  grid-template-columns: repeat(4, 1fr);
}
