.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 100vh;
}

.oneColumn {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.twoColumn {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

.threeColumn {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}