.container {
  display: grid;
  grid-template-rows: min-content max-content;
  grid-template-areas: "info" "productList";
  gap: 20px;
  padding: 5%;
  padding-right: 10%;
}

.info {
  grid-area: info;
}

.productList {
  grid-area: productList;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}