.container {
  display: grid;
  background-color: var(--three-bg-color);
  padding: 20px 100px;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  color: white;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3 ease-in;
}

.nav a:hover {
  color: var(--three-text-color);
}