.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: min-content 500px min-content;
  grid-template-areas:
    "category category"
    "image info"
    "recommendation .";
  gap: 20px;
  padding: 10% 0;
}

.category {
  grid-area: category;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

.image {
  grid-area: image;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hr {
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-family: "helveticaneuemedium";
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 3px;
  background-color: var(--three-text-color);
  display: block;
}

.info {
  display: grid;
  align-items: center;
  align-content: space-between;
  gap: 10px;
  text-align: left;
  padding-right: 20%;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-weight: bold;
  line-height: 1;
  color: var(--three-text-color);
  font-size: 24px;
}

.rating {
  display: flex;
  color: var(--three-text-color);
}

.rating i {
  font-size: 0.8rem;
}

.count {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  background-color: #F5F7FA;
  justify-items: center;
  padding: 5%;
  color: silver;
  font-weight: bold;
}

.count .isAvailable {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(0, 255, 0);
  box-shadow: 1px 1px 1px 1px silver;
}

.name {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.name i {
  color: var(--two-text-color);
  cursor: pointer;
}

.orderCount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F5F7FA;
  padding: 5%;
  color: silver;
  font-weight: bold;
}

.orderCount input {
  border: none;
  background-color: white !important;
}

.recommendation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "." "recommendation";
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

.recProducts {
  grid-area: recommendation;
  display: flex;
  justify-content: space-between;
}

.recProducts a {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  transition: 0.2s ease-in;
  background-color: none;
}

.recProducts a:hover {
  background-color: silver;
}