.container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: min-content max-content;
  grid-template-areas:
    "title title"
    "order total";
  gap: 25px;
  padding: 10% 5%;
  font-family: 'Oswald', sans-serif;
}

.title {
  grid-area: title;
  text-align: left;
  font-size: 1.5rem;
}