.container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: min-content max-content;
  grid-template-areas:
    "title title"
    "order total";
  gap: 25px;
  padding: 10% 5%;
  font-family: 'Oswald', sans-serif;
}

.title {
  grid-area: title;
  text-align: left;
  font-size: 1.5rem;
}

.order {
  grid-area: order;
  display: grid;
  grid-template-rows: min-content max-content;
  gap: 25px;
}

.table {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  font-size: 0.9rem;
  background-color: var(--four-bg-color);
}

.cartProduct {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  text-align: center;
  /* FIXME Что-то не то тут с отступами */
  /* margin: 5px 0; */
}

.cartProduct img {
  width: 100%;
}

.count {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--four-bg-color);
}

.count i,
.trash i {
  cursor: pointer;
}

.count i:active,
.trash i:active {
  transform: scale(0.95);
}