@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --one-bg-color: white;
  --two-bg-color: #3C3C3C;
  --three-bg-color: #252525;
  --four-bg-color: #F5F7FA;

  --one-text-color: white;
  --two-text-color: #A8B1B1;
  --three-text-color: #fbb710;
}

body {
  margin: 0;
  font-family: 'Noto Sans', 'Oswald', 'Manrope', 
    'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}